$backgroundGradient: #fe8773;

.homepage-background-container{
    position: relative;
    top: 110px;
    height: 500px;
    min-width: 100%;
    background-color: white;
    z-index: -1;
    .homepage-background-primary{
        height: 300px;
        width: 100%;
        background-color:$backgroundGradient;
        text-align: center;
        img{
            height: 300px;
        }
    }
    .homepage-background-secondary{
        height: 200px;
        width: 100%;
        background: linear-gradient(to bottom, $backgroundGradient, rgb(241, 240, 240));
    }
}

.category-snapshot{
    height: 400px;
    width: 95%;
    margin: 0 2%;
    position: relative;
    top: -120px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 330px));
    gap: 20px;
    .snapshot-container{
        height: 360px;
        background-color: white;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: 0.5fr 2fr 2fr;
        justify-items: center;
        margin: 0 auto;
        div{
            margin: auto
        }
        .snapshot-title{
            grid-column-start: 1;
            grid-column: span 2;
        }
        .epic-daily-deal{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            grid-column-start: 1;
            grid-row-start: 2;
            grid-column: span 2;
            grid-row: span 2;
            overflow: hidden;
            .epic-deal{
                    height: 30px;
                    width: 100px;
                    background-color: rgb(173, 2, 2);
                    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
                    margin: 10px 0;
                    display: flex;
                    padding: 2px;
                    p {
                        color: white;
                        position: relative;
                        top: 3px;
                        left: 5px
                    }

            }
            img{
                margin:0 auto;
                height: 200px;
                width: auto;
                display: block;
            }
        }
        img{
            height: 90px;
            width: auto;
            cursor: pointer;
        }
    }
}

#signin-card{
    height: 100px;
    button{
        height: 40px;
        width: 250px;
        grid-column: span 2;
        background-color: rgb(245, 160, 3);
        border-radius: 4px;
        outline: none;
    }
    h3{
        grid-column: span 2;
    }
}

// scroll to top of page logic
.top-scroll {
    margin: 0 auto;
    font-size: 20px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 4px;
    width: 70px;
    &:hover {
        cursor: pointer;
    }
}