.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 30px;
    z-index: 2;
    label, input {
        width: 50%;
        height: 30px;
        margin: 0 auto;
    }
    label {
        margin-top: 10px
    }
    button {
        width: 100px;
        height: 30px;
        margin: 10px auto;
        border-radius: 7px;
        outline: none;
        font-size: 16px;
        background-color: white;
        border-color: white;
    
    }
}

.login-page-img-left{
    display: inline-block;
    width: 50%;
    height: 100vh;
    background-image: url(./images/Cadabra3.gif), linear-gradient( to right,#0047a8,#0047a8fa);
    background-repeat: no-repeat;
    background-position: center;
}

.login-page-form-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    background-color: black;
}

.gradient-border {
    --borderWidth: 4px;
    background: black;
    position: relative;
    border-radius: var(--borderWidth);
    &:after{
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
    }
  }
  
  @keyframes animatedgradient {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
  }

.login-page-container{
    display: flex;
}