.navbar-primary {
    background-color: #0047a8fa;
    position: fixed;
    z-index: 2;
    top: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    color: white;
    a {
    margin: 0 10px;
    padding: 3px;
    padding: 10px;
    text-decoration: none;
    color: white;
        &:hover{
            border: 1px solid white;
            border-radius: 3px;
            // added margin left to fix search bar adjustment when hovering over links from border added
            margin-left: 8px;
            
        }
    }
    .search-bar-nav{
        border: none;
        height: 30px;
        width: 400px;
        margin: 0 auto;
    }
    .navbar-primary-links{
        display: flex;
        align-items: center;
    }
    .logo{
        height: 60px;
        margin-left: 50px;
        cursor: pointer;
    }
    p{
        display: inline-block;
        padding: 5px;
        span{
            display: block;
            cursor: pointer;
            font-weight: 900;
            font-size: 1.2rem;
        }
    }
}

.navbar-secondary{
    width: 100%;
    height: 50px;
    background-color: #131921;
    position: fixed;
    top: 60px;
    display: flex;
    z-index: 2;
    div{
        height: 35px;
        width: 90px;
        // margin-left: 20px;
        margin: 8px 0 0 20px;
        padding: 5px;
        text-align: center;
        color: white;
        &:hover{
            border: 1px solid white;
            border-radius: 4px;
            margin-top: 7px;
            cursor: pointer;
        }
    }
}
