.product-sidebar{
    width: 200px;
    padding: 30px 15px 0 15px;
    background-color: white;
    border-right: 1px solid lightgray;
    border-radius: 0.8%;
    h2, p, h3 {
     text-align: center;
    }
    p:hover{
        cursor: pointer;
        color: blue
    }
}
.product-sidebar-price{
    position: sticky;
    top: 150px
}
 
 .product-container{
    padding: 20px 0;
    margin: 10% 2% 5% 2%;
    display: flex;  
    background-color: white;
 }
 
 .product{
     display: grid;
                         // autofitting the cards to the grid column so when window is resized, grid adjusts to fewer
                         // cards per row. each card is 300px wide so 300 is minumm size before pushing to next row
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 30px;
     width: 80%;
     background-color: white;
     padding: 20px;
     margin: 0 auto;
 }
 
 .card{
     width: 350px;
     height: 350px;
     overflow: hidden;
     cursor: pointer;
     justify-self: center;
     position: relative;
 }
 
 .card-image-container{
     height: 200px;
     width: auto;
 
 }
 .card-image{
     height: 200px;
     object-fit: cover;
     margin: 0 5%;
 }
 .price-overlay{
     position: absolute;
     height: 200px;
     width: 100%;
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(0,0,0,0);
     transition: 400ms;
     p{
         display: none
     }
    }
    .reveal-overlay{
        background-color: rgba(41, 41, 41, 0.8);
        p{
            display: unset;
            color: white;
            font-size: 2rem;
        }
    }
 
 .card-info{
     height: 150px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }
 
 .categories{
     display: flex;
     p{
         margin-right: 5px;
         font-weight: 700;
     }
 }
 
 
//  footer logic
.homepage-footer-margin{
    margin-top: 300px;
}

.products-page-footer-margin {
    margin-top: 50px;
}
.footer{
    width: 100%;
    height: 400px;
    background-color: #0047a8fa;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1rem;
    div {
        margin: 50px auto;
        width: 90%;
        text-align: center;
        font-size: 1rem;
    }
    p {
        width: 100%;
    }
    .footer-title {
        font-weight: 700;
        margin-bottom: 10px;
        text-decoration: underline;
        font-size: 1.2rem;
    }
    a {
        color: white;
        margin-left: 10px;
    }
}