.product-sidebar{
    width: 200px;
    padding: 30px 15px 0 15px;
    background-color: white;
    border-right: 1px solid lightgray;
    border-radius: 0.8%;
    h2, p, h3 {
     text-align: center;
    }
    p:hover{
        cursor: pointer;
        color: blue
    }
 }
 
 .product-container{
    padding: 20px 0;
    margin: 10% 5%;
    display: flex;  
    background-color: white;
 }
 
 .product{
     display: grid;
                         // autofitting the cards to the grid column so when window is resized, grid adjusts to fewer
                         // cards per row. each card is 300px wide so 300 is minumm size before pushing to next row
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 20px;
     width: 100%;
     background-color: white;
     padding: 20px
 }
 
 .card{
     width: 360px;
     height: 350px;
     overflow: hidden;
     cursor: pointer;
     justify-self: center;
     position: relative;
 }
 
 .card-image-container{
     height: 200px;
     width: 300px;
 
 }
 .card-image{
     height: 200px;
     object-fit: cover;
     margin: 0 7%;
 }
 .price-overlay{
     position: absolute;
     height: 200px;
     width: 100%;
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(0,0,0,0);
     transition: 400ms;
     p{
         display: none
     }
    }
    .reveal-overlay{
        background-color: rgba(41, 41, 41, 0.8);
        p{
            display: unset;
            color: white;
            font-size: 2rem;
        }
    }
 
 .card-info{
     height: 150px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }
 
 .categories{
     display: flex;
     p{
         margin-right: 5px;
         font-weight: 700;
     }
 }
 
 