.product-sidebar{
    width: 200px;
    padding: 30px 15px 0 15px;
    background-color: white;
    border-right: 1px solid lightgray;
    border-radius: 0.8%;
    h2, p, h3 {
     text-align: center;
    }
 }
 
 .product-container{
    padding: 20px 0;
    margin: 10% 5%;
    display: flex;  
    background-color: white;
 }
 
 .product{
     display: grid;
                         // autofitting the cards to the grid column so when window is resized, grid adjusts to fewer
                         // cards per row. each card is 300px wide so 300 is minumm size before pushing to next row
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 20px;
     width: 100%;
     background-color: white;
     padding: 20px
 }
 
 .card{
     width: 340px;
     height: 350px;
     overflow: hidden;
     cursor: pointer;
     justify-self: center;
 }
 
 .card-image-container{
     height: 200px;
     width: 300px;
 
 }
 .card-image{
     height: 200px;
     object-fit: cover;
 }
 
 .card-info{
     height: 150px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }
 
 .categories{
     display: flex;
     p{
         margin-right: 5px;
         font-weight: 700;
     }
 }
 
 